<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <!-- Logo img -->
        <a class="navbar-brand col-lg-3 me-0 justify-content-lg-center" href="index.html">
            <img src="assets/img/logo-2.0.png"/>
        </a>
        <!-- Responsive button collapsable -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav sections -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-lg-6 justify-content-lg-center">
              <li class="nav-item">
                    <a routerLink="/home" class="nav-link">Inicio</a>
                 <!--   <a class="nav-link active" href="index.html">Inicio</a> -->
                </li>
                <li class="nav-item">
                    <a routerLink="/teams" class="nav-link">Equipos</a>
                 <!--  <a class="nav-link" href="equipos.html">Equipos</a> --> 
                </li>
                <li class="nav-item">
                    <a routerLink="/results" class="nav-link">Resultados</a>
                 <!--   <a class="nav-link" href="resultados.html">Resultados</a> -->
                </li>
                <li class="nav-item">
                    <a routerLink="/clasifications" class="nav-link">Clasificaciones</a>
                  <!--  <a class="nav-link" href="clasificaciones.html">Clasificaciones</a> -->
                </li>
                <li class="nav-item">
                    <a routerLink="/players" class="nav-link">Jugadores</a>
                  <!--  <a class="nav-link" href="jugadores.html">Jugadores</a> -->
                </li>
                <li class="nav-item">
                    <a routerLink="/referees" class="nav-link">Árbitros</a>
                  <!--  <a class="nav-link" href="arbitros.html">Árbitros</a> -->
                </li>
            </ul>
            <a routerLink="/contact" class="btn btn-primary">Contacto</a>

            <!-- Login btn -->
            <div class="d-lg-flex col-lg-5 justify-content-lg-end">
                <a routerLink="/login" class="btn btn-outline-light">Acceder</a>
            </div>
        </div>
    </div>
</nav>